h1 {
  text-align: center;
}

form {
  text-align: center;
}

.claseFormulario {
  background-color: wheat;
  padding-bottom: 20px;
}

#botonEnvio {
  font-size: 23px;
}

td,
th {
  border: solid red 1px;
  padding: 10px;
  text-align: center;
}

.tablaFormulario table {
  margin: 10px auto;
}
